@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #121215 20.31%, #010729 100%);
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@layer components {
  .hero--title {
      -webkit-text-fill-color: transparent;
      word-break: break-word;
      line-height : 1.35 !important; 
  }
  .projectLinks:hover > p > svg > path{
    fill: #CDDA4F;
  }
}
.getStartedButton > .getStartedButtonHover1 {
  transform-origin: left;
  transform: scaleX(0);
  animation: .3s linear forwards;
}
.getStartedButton > .getStartedButtonHover2 {
  transform-origin: top;
  transform: scaleY(0);
  animation: .3s linear forwards;
  animation-delay: .3s;
}
.getStartedButton > .getStartedButtonHover3 {
  transform-origin: right;
  transform: scaleX(0);
  animation: .3s linear forwards;
  animation-delay: .6s;
}
.getStartedButton > .getStartedButtonHover4 {
  transform-origin: bottom;
  transform: scaleY(0);
  animation: .3s linear forwards;
  animation-delay: .9s;
}
.getStartedButton:hover .getStartedButtonHover1{
  animation-name: animScaleX;
}
.getStartedButton:hover .getStartedButtonHover3{
  animation-name: animScaleX;
}
.getStartedButton:hover .getStartedButtonHover2{
  animation-name: animScaleY;
}
.getStartedButton:hover .getStartedButtonHover4{
  animation-name: animScaleY;
}
@keyframes animScaleX {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@keyframes animScaleY {
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}

.OurServicesHover:hover .getStartedButtonHover1{
  animation-name: animScaleX;
}
.OurServicesHover:hover .getStartedButtonHover3{
  animation-name: animScaleX;
}
.OurServicesHover:hover .getStartedButtonHover2{
  animation-name: animScaleY;
}
.OurServicesHover:hover .getStartedButtonHover4{
  animation-name: animScaleY;
}
.OurServicesHover > .getStartedButtonHover1 {
  transform-origin: left;
  transform: scaleX(0);
  animation: .5s linear forwards;
}
.OurServicesHover > .getStartedButtonHover2 {
  transform-origin: top;
  transform: scaleY(0);
  animation: .5s linear forwards;
  animation-delay: .5s;
}
.OurServicesHover > .getStartedButtonHover3 {
  transform-origin: right;
  transform: scaleX(0);
  animation: .5s linear forwards;
  animation-delay: 1s;
}
.OurServicesHover > .getStartedButtonHover4 {
  transform-origin: bottom;
  transform: scaleY(0);
  animation: .5s linear forwards;
  animation-delay: 1.5s;
}
.OurServicesHover{
  transition: all 1s ease-in-out;
  transform: translateY(0rem);
  box-shadow: 0 0rem 1rem -1rem #020616;
}
.OurServicesHover:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 1rem -1rem #020616;
}